@functions {
    // To support the layout classifaction below. Implementing as a razor function because we can, could otherwise be a Func<string[], string, string> in the code block following.
    string CalcuClassify(string[] zoneNames, string classNamePrefix)
    {
        var zoneCounter = 0;
        var zoneNumsFilled = string.Join("", zoneNames.Select(zoneName => { ++zoneCounter; return Model[zoneName] != null ? zoneCounter.ToString() : ""; }).ToArray());
        return HasText(zoneNumsFilled) ? classNamePrefix + zoneNumsFilled : "";
    }
}
@{
    /* Global includes for the theme
    ***************************************************************/

    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");
    Style.Include("//fonts.googleapis.com/css?family=Lobster&subset=latin");
    Style.Include("site.css");

    /* Some useful shortcuts or settings
    ***************************************************************/

    Func<dynamic, dynamic> Zone = x => Display(x); // Zone as an alias for Display to help make it obvious when we're displaying zones

    /* Layout classification based on filled zones
    ***************************************************************/

    //Add classes to the wrapper div to toggle aside widget zones on and off
    var asideClass = CalcuClassify(new[] { "AsideFirst", "AsideSecond" }, "aside-"); // for aside-1, aside-2 or aside-12 if any of the aside zones are filled
    if (HasText(asideClass))
    {
        Model.Classes.Add(asideClass);
    }

    //Add classes to the wrapper div to toggle tripel widget zones on and off
    var tripelClass = CalcuClassify(new[] { "TripelFirst", "TripelSecond", "TripelThird" }, "tripel-"); // for tripel-1, triple-2, etc. if any of the tripel zones are filled
    if (HasText(tripelClass))
    {
        Model.Classes.Add(tripelClass);
    }

    //Add classes to the wrapper div to toggle quad widget zones on and off
    var footerQuadClass = CalcuClassify(new[] { "FooterQuadFirst", "FooterQuadSecond", "FooterQuadThird", "FooterQuadFourth" }, "split-"); // for quad-1, quad-2, etc. if any of the quad zones are filled
    if (HasText(footerQuadClass))
    {
        Model.Classes.Add(footerQuadClass);
    }

    /* Inserting some ad hoc shapes
    ***************************************************************/

    WorkContext.Layout.Header.Add(New.Branding(), "5"); // Site name and link to the home page
    WorkContext.Layout.Footer.Add(New.BadgeOfHonor(), "5"); // Powered by Orchard
    WorkContext.Layout.Footer.Add(New.User(), "10"); // Login and dashboard links

    /* Last bit of code to prep the layout wrapper
    ***************************************************************/

    Model.Id = "layout-wrapper";
    var tag = Tag(Model, "div"); // using Tag so the layout div gets the classes, id and other attributes added to the Model
}
@tag.StartElement
@if (Model.Header != null)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>






    <script src="http://body.kindlebit.com/js/jquery.lazyload.js"></script>
    <script src="http://body.kindlebit.com/js/attrchange.js"></script>

    @*<script src="http://body.kindlebit.com/js/withinviewport.js"></script>
    <script src="http://body.kindlebit.com/js/jquery.withinviewport.js"></script>*@

    <header id="layout-header" class="group">
        <div id="header">
            @Zone(Model.Header)
        </div>

        @if (Model.Navigation != null)
        {
            <div id="layout-navigation" class="group">
                @Zone(Model.Navigation)
            </div>
        }

    </header>
}
    @*@if (Model.Navigation != null) {
        <div id="layout-navigation" class="group">
            @Zone(Model.Navigation)
        </div>
        }*@
    @if (Model.Featured != null)
    {
        <div id="layout-featured" class="group">
            @Zone(Model.Featured)
        </div>
    }
    @if (Model.BeforeMain != null)
    {
        <div id="layout-before-main" class="group">
            @Zone(Model.BeforeMain)
        </div>
    }
    <div id="layout-main-container">
        <div id="layout-main" class="group">
            @if (Model.AsideFirst != null)
            {
                <aside id="aside-first" class="aside-first group">
                    @Zone(Model.AsideFirst)
                </aside>
            }
            <div id="layout-content" class="group">
                @if (Model.Messages != null)
                {
                    <div id="messages">
                        @Zone(Model.Messages)
                    </div>
                }
                @if (Model.BeforeContent != null)
                {
                    <div id="before-content">
                        @Zone(Model.BeforeContent)
                    </div>
                }
                @* the model content for the page is in the Content zone @ the default position (nothing, zero, zilch) *@
                @if (Model.Content != null)
                {
                    <div id="content" class="group">
                        @Zone(Model.Content)
                    </div>
                }
                @if (Model.AfterContent != null)
                {
                    <div id="after-content">
                        @Zone(Model.AfterContent)
                    </div>
                }
            </div>
            @if (Model.AsideSecond != null)
            {
                <aside id="aside-second" class="aside-second">
                    @Zone(Model.AsideSecond)
                </aside>
            }
        </div>
    </div>
    @if (Model.AfterMain != null)
    {
        <div id="layout-after-main" class="group">
            @Zone(Model.AfterMain)
        </div>
    }
    @if (Model.TripelFirst != null || Model.TripelSecond != null || Model.TripelThird != null)
    {
        <div id="layout-tripel-container">
            <div id="layout-tripel" class="group">
                @* as in beer *@
                @if (Model.TripelFirst != null)
                {
                    <div id="tripel-first">
                        @Zone(Model.TripelFirst)
                    </div>
                }
                @if (Model.TripelSecond != null)
                {
                    <div id="tripel-second">
                        @Zone(Model.TripelSecond)
                    </div>
                }
                @if (Model.TripelThird != null)
                {
                    <div id="tripel-third">
                        @Zone(Model.TripelThird)
                    </div>
                }
            </div>
        </div>
    }
    <div id="layout-footer" class="group">

        <footer id="footer">
            <div id="footer-quad" class="group">
                @if (Model.FooterQuadFirst != null)
                {
                    <div id="footer-quad-first">
                        @Zone(Model.FooterQuadFirst)
                    </div>
                }
                @if (Model.FooterQuadSecond != null)
                {
                    <div id="footer-quad-second">
                        @Zone(Model.FooterQuadSecond)
                    </div>
                }
                @if (Model.FooterQuadThird != null)
                {
                    <div id="footer-quad-third">
                        @Zone(Model.FooterQuadThird)
                    </div>
                }
                @if (Model.FooterQuadFourth != null)
                {
                    <div id="footer-quad-fourth">
                        @Zone(Model.FooterQuadFourth)
                    </div>
                }
            </div>
            @if (Model.Footer != null)
            {
                <div id="footer-sig" class="group">
                    @Zone(Model.Footer)
                </div>
            }
        </footer>
    </div>
    <script type="text/javascript">
        $(function () {
            $('nav ul:first').attr('id', 'menu');
        });
    </script>

<script type="text/javascript" src="http://body.kindlebit.com/js/modernizr.custom.79639.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<script src="http://body.kindlebit.com/js/jquery.slicknav.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#menu').slicknav();
});
</script>

    <script type="text/javascript">

        $(function () {
            $("img.lazy").lazyload();
        });

        //$.fn.is_on_screen = function () {
        //    var win = $(window);
        //    var viewport = {
        //        top: win.scrollTop(),
        //        left: win.scrollLeft()
        //    };
        //    viewport.right = viewport.left + win.width();
        //    viewport.bottom = viewport.top + win.height();

        //    var bounds = this.offset();
        //    bounds.right = bounds.left + this.outerWidth();
        //    bounds.bottom = bounds.top + this.outerHeight();

        //    return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
        //};

        //function Loadimages() {
        //    $(".zone-after-content > div img.lazy").each(function () {
        //        if ($(this).is_on_screen()) {
        //            setTimeout($(this).trigger("sporty"), 10000);
        //        }
        //    });
        //}



        $(document).ready(function () {

            //Window Resolution : 320,480,640,768,800,980,1024
            $("#after-content").css("overflow", "hidden");
            var height;
            var Content_per_row;
            if ($(window).width() == 320 || $(window).width() == 360) {
                $("#after-content").css("height", "350px");
                height = "350px";
                Content_per_row = 1;
            }
            if ($(window).width() == 768) {
                $("#after-content").css("height", "323px");
                height = "323px";
                Content_per_row = 3;
                alert("asdsa");
            }
            if ($(window).width() == 800) {
                $("#after-content").css("height", "322px");
                height = "322px";
                Content_per_row = 3;

            }
            if ($(window).width() == 980) {
                $("#after-content").css("height", "301px");
                height = "301px";
                Content_per_row = 3;

            }
            if ($(window).width() > 980) {
                $("#after-content").css("height", "357px");
                height = "357px";
                Content_per_row = 3;
            }


            $(window).scroll(function () {

                if ($(window).scrollTop() + $(window).height() == $(document).height()) {

                    var no_of_Content = $(".zone-after-content > div").size();
                    var exact_no_of_rows = no_of_Content / Content_per_row;
                    var no_of_rows = (exact_no_of_rows.toString().split(".")[0]);
                    if (parseFloat(exact_no_of_rows.toString().split(".")[1]) > 0) {
                        no_of_rows = parseInt(no_of_rows) + 1;
                    }
                    var max_height = (no_of_rows * parseInt(height));
                    if ($("#after-content").height() < max_height) {
                        $("#after-content").animate({ height: $("#after-content").height() + parseInt(height) }, 700);
                        //setTimeout(function () { $('.zone-after-content > div:last-child').find("img.lazy").trigger("sporty") }, 5000);
                        //setTimeout(function () { $('.zone-after-content > div:last-child').prev().find("img.lazy").trigger("sporty") }, 5000);
                        //setTimeout(function () { $('.zone-after-content > div:last-child').prev().prev().find("img.lazy").trigger("sporty") }, 5000);
                        //Loadimages();
                    }
                }
            });





        });
    </script>
    @tag.EndElement